@charset "UTF-8";
.qwer{
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.writer-center{
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    border: 1px solid black ;
    margin-left: 20px;
    margin-right: 20px;
    width: 900px;
    height: 140px;
}
.writer-title{
    font-size: 50px;
}


.writer-center2{
    border: 1px solid black ;
    border-top: none;
    border-bottom: none;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    width: 900px;
}
.aaaaa{
    border: 1px solid black;
    border-left: none;
    border-right: none;
    height: 100px;
    width: 900px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
}
.writer-name{
    border-right: 1px solid gray;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.writer-pho{
    border-bottom: 1px solid gray;
    height: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2px;
    margin-left: 2px;
}
.writer-pho1{
    height: 50px;
    display: flex;
    position: absolute;
    margin-left: 93px;
    margin-top: 53px;
}

.writer-sea{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    margin-left: 10px;
}
.wr-text{
    margin: 70px 10px 70px 10px;
}
.cel-btn1{
    width: 150px;
    height: 40px;
    background-color: gray;
    border: none;
    color: aliceblue;
    margin-right: 20px;
    cursor: pointer;
}
.cel-btn{
    width: 150px;
    height: 40px;
    background-color: rgb(52, 152, 219);
    border: none;
    color: aliceblue;
    margin-right: 20px;
    cursor: pointer;
}

.writer-center3{
    border: 1px solid black ;
    border-top: none;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    width: 900px;
    padding-bottom: 50px;
}

