<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="hospitalMapper">
  
	<resultMap type="Hospital" id="hospitalResult">
		<result column="HOSPITAL_NO" property="hospitalNo" />
		<result column="HOSPITAL_NAME" property="hospitalName" />
		<result column="HOSPITAL_ADDRESS" property="hospitalAddress" />
		<result column="HOSPITAL_PHONE" property="hospitalPhone" />
		<result column="HOSPITAL_CITY" property="hospitalCity" />
	</resultMap>
	
	<resultMap type="Reply" id="replyResult">
		<result column="REPLY_NO" property="replyNo" />
		<result column="REPLY_CONTENT" property="replyContent" />
		<result column="REPLY_DAY" property="repltDay" />
		<result column="USER_NO" property="userNo" />
		<result column="HOSPITAL_NO" property="hospitalNo" />
		<result column="USER_NAME" property="userName" />
	</resultMap>
	
	<!-- 상품 총 갯수 -->
	<select id="hospitalCount" resultType="_int">
		SELECT COUNT(*)
		  FROM HOSPITAL
	</select>
	
	<!-- 보건소 리스트 가져오기 -->
	<select id="selectHospital" resultMap="hospitalResult">
		SELECT *
			FROM(
			        SELECT ROWNUM RNUM, A.*
			        FROM (
			                SELECT HOSPITAL_NO,
                                   HOSPITAL_NAME,
                                   HOSPITAL_ADDRESS,
                                   HOSPITAL_PHONE,
                                   HOSPITAL_CITY
			                FROM HOSPITAL
			                ORDER BY HOSPITAL_NO 
			            ) A
			        )
	</select>
	
	<!-- 기관명 체크 검색 -->
	<select id="selectSearch" resultMap="hospitalResult">
		SELECT 
			  HOSPITAL_NO,
			  HOSPITAL_NAME,
			  HOSPITAL_ADDRESS,
			  HOSPITAL_PHONE,
			  HOSPITAL_CITY
		 FROM HOSPITAL
		WHERE HOSPITAL_NAME LIKE '%'||#{comment}||'%'
	</select>
	
	<!-- 지역 체크 검색 -->
	<select id="selectSearchCity" resultMap="hospitalResult">
		SELECT 
			  HOSPITAL_NO,
			  HOSPITAL_NAME,
			  HOSPITAL_ADDRESS,
			  HOSPITAL_PHONE,
			  HOSPITAL_CITY
		 FROM HOSPITAL
		WHERE HOSPITAL_CITY LIKE '%'||#{comment}||'%'
	</select>
	
	<!-- 주소 체크 검색 -->
	<select id="selectSearchAddres" resultMap="hospitalResult">
		SELECT 
			  HOSPITAL_NO,
			  HOSPITAL_NAME,
			  HOSPITAL_ADDRESS,
			  HOSPITAL_PHONE,
			  HOSPITAL_CITY
		 FROM HOSPITAL
		WHERE HOSPITAL_ADDRESS LIKE '%'||#{comment}||'%'
	</select>
	
	<!-- 전화번호 체크 검색 -->
	<select id="selectSearchPhone" resultMap="hospitalResult">
		SELECT 
			  HOSPITAL_NO,
			  HOSPITAL_NAME,
			  HOSPITAL_ADDRESS,
			  HOSPITAL_PHONE,
			  HOSPITAL_CITY
		 FROM HOSPITAL
		WHERE HOSPITAL_PHONE LIKE '%'||#{comment}||'%'
	</select>
	
	
	<!-- 보건소 디테일 -->
	<select id="detailHospital" resultMap="hospitalResult">
		SELECT 
			  HOSPITAL_NO,
			  HOSPITAL_NAME,
			  HOSPITAL_ADDRESS,
			  HOSPITAL_PHONE,
			  HOSPITAL_CITY
		 FROM HOSPITAL
		WHERE HOSPITAL_NO = #{hNo}
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="insertReply" parameterType="map">
		INSERT INTO 
			   REPLY(
					  REPLY_NO,
                      REPLY_CONTENT,
                      REPLY_DAY,
                      USER_NO,
                      HOSPITAL_NO
					   )
				 VALUES(
				 		SEQ_REPLY.NEXTVAL,
				 		#{comment},
				 		SYSDATE,
				 		#{userNo},
				 		#{hNo}
				 		)
	</insert>
	
	<!-- 댓글 총 갯수 -->
	<select id="selectReplyCount" resultType="_int">
		SELECT COUNT(*)
		  FROM REPLY
		 WHERE HOSPITAL_NO = #{hNo}
	</select>
	
		<!-- 보건소 리스트 가져오기 -->
	<select id="selectReplyList" resultMap="replyResult">
		SELECT *
		FROM(
		        SELECT ROWNUM RNUM, A.*
		        FROM (
		                SELECT REPLY_NO,
                               REPLY_CONTENT,
                               REPLY_DAY,
                               USER_NO,
                               HOSPITAL_NO,
                               USER_NAME
		                FROM REPLY
                        JOIN MEMBER USING(USER_NO)
                        WHERE HOSPITAL_NO = #{hNo}
		                ORDER BY REPLY_NO DESC
		            ) A
		        )
	</select>
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteReply">
		DELETE FROM REPLY
		WHERE
		REPLY_NO = #{replyNo} 
	</delete>
	
	<!-- 댓글 업데이트 -->
	<update id="updateReply" parameterType="map">
		UPDATE REPLY 
			   SET 
			   REPLY_CONTENT = #{content}
			   WHERE
			   REPLY_NO = #{replyNo}
	</update>
	
	</mapper>