@charset "UTF-8";


.teul{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 22px;
}

.head-Line{
    display: flex;
    /* max-width: 1200px; */
    max-width: 100%;
    height: 90px;
    justify-content: space-between;
}

.Logo{
    width: 312px;
    height: 99px;
    margin-left: 8px 
}

.head-title{
    width: 160px;
    height: 120px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-title a {
    text-decoration: none; 
    color: inherit; 
}

.head-user{
    width: 61px;
    height: 46px;
}

.head-user-title{
    width: 75px;
    height: 120px;
    font-size: 27px;
    display: flex;
    align-items: center;
}
.head-foot{
    height: 12px;
    background-color: gray;
}


@media screen and (max-width: 600px) {
    .head-Line {
        min-width: 500px;
    }
    
    .Logo{
        min-width: 120px;
    }
    .head-user{
        /* min-width: 40px;
        min-height: 38px; */
        width: 40px; 
        height: 38px;
    }

    .head-title {
        width: auto; 
        height: auto;
        font-size: 16px; 
        text-align: center; 
        margin: 10px 0; 
    }
}