.video-center{
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.video-No{
    width: 900px;
    display: flex;
}
.pont-se{
    font-size: 37px;
    margin-top: 20px;
}
.video-theme{
    border: 1px solid black;
    border-radius: 4%;
    width: 900px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 83px;
}
.video-teul{
    width: 178px;
    height: 146px;
    border: 1px solid black;
}
.viedo-title{
    width: 178px;
    height: 100px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;
}
.video-sumnail{
    width: 178px;
    height: 146px;
}
.get {
    width: 30%; /* 3개씩 나열하므로 각 아이템은 30%의 너비를 가짐 */
    margin-bottom: 20px;
    margin-right: 40px;
}
.viedo-title {
    text-align: center;
    border: 1px solid black;
}
.num-btn{
    background-color: cornsilk;
    margin: 2px;
    border: none;
    width: 30px;
    height: 30px;
}
.video-up{
    width: 400px;
    height: 300px;
    border-radius: 8%;
    border: 1px solid black;
}
.input-container {
    display: flex;
    align-items: center;
}

.input-container div {
    margin-right: 10px; /* 내용과 textarea 사이의 간격 조절 */
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    margin-top: 10px;
    width: 80%;
    height: 40px;
    resize: none;
}
.insert-btn{
    width: 900px;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}
.modal-header22{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;

}
.modal-title22{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.modal-header33{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}
.viedo-sub{
    border: 1px solid black;
    width: 178px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
}


.product-list{
    width: 735px;
    margin-left: auto;
    margin-right: auto;
}
.products h3{
    font-size: 24px;
    color: #545454;
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}

.product{
    display: block;
    width: 225px;
    text-align: center;
    text-decoration:none;
    color: black;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.product-name{
    margin-top: 20px;
    margin-bottom: 4px;
}
.video-center1{
	display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}
.cart-btn{
	margin-right: 26px;
    border: none;
    background: rebeccapurple;
    width: 105px;
    color: white;
    border-radius: 6px;
}



/* 미디어 쿼리: 화면 크기가 600px 이상일 때 설정 */
@media screen and (max-width: 667px) {
    .get {
        width: 30%; /* 화면 크기가 600px 이상일 때 한 줄에 세 개씩 나열 */
    }

    .video-theme{
        padding: 0px;
        height: 1000px;
    }
    .video-center{
        width: 600px;
    }
    .video-sumnail {
        width: 163px;
        height: 127px;
    }
    .viedo-title .video-teul {
        width: 155px;
    }
}
